## create a connection to the database using the library sqlite3

In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('../ex00/data/checking-logs.sqlite.sqlite copy')

## get the schema of the table checker

In [4]:
pd.io.sql.read_sql("PRAGMA table_info(checker);", conn)

   cid       name       type  notnull dflt_value  pk
0    0      index    INTEGER        0       None   0
1    1     status       TEXT        0       None   0
2    2    success    INTEGER        0       None   0
3    3  timestamp  TIMESTAMP        0       None   0
4    4  numTrials    INTEGER        0       None   0
5    5    labname       TEXT        0       None   0
6    6        uid       TEXT        0       None   0

## get only the first 10 rows of the table checker to check what the table looks like

In [6]:
pd.io.sql.read_sql("select * from checker limit 10", conn)

,index,status,success,timestamp,numTrials,labname,uid
0,0,checking,0,2020-04-16 21:12:50.740474,5,None,admin_1
1,1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
2,2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
3,3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
4,4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
5,5,ready,0,2020-04-16 21:53:05.373389,6,code_rvw,admin_1
6,6,checking,0,2020-04-17 05:18:51.965864,1,None,None
7,7,ready,0,2020-04-17 05:19:02.744528,1,project1,user_4
8,8,checking,0,2020-04-17 05:22:35.249331,2,project1,user_4
9,9,ready,1,2020-04-17 05:22:45.549397,2,project1,user_4

## count how many rows satisfy the following conditions using only one query with any number of subqueries:

In [17]:
pd.io.sql.read_sql("select count(*) from checker where status = 'ready'", conn)

   count(*)
0      1700

In [20]:
pd.io.sql.read_sql("select count(*) from checker where numTrials = 1", conn)

   count(*)
0       326

In [24]:
checkers = pd.io.sql.read_sql("select count(*) as cnt from checker where labname in ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')", conn)

In [27]:
checkers

    cnt
0  3001

In [28]:
conn.close()