In [10]:
import pandas as pd

## read the CSV file and make ID the index column

In [11]:
df = pd.read_csv("./data/auto.csv")
df.set_index('ID', inplace=True)
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

## count the number of observations using the method count()

In [12]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines

In [13]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## work with missing values

In [14]:
print(" number of missing values in CarNumber:", df['CarNumber'].isnull().sum())
print(" number of missing values in Make_n_model:", df['Make_n_model'].isnull().sum())
print(" number of missing values in Refund:", df['Refund'].isnull().sum())
print(" number of missing values in Fines:", df['Fines'].isnull().sum())
print(" number of missing values in History:", df['History'].isnull().sum())
print("Total number of missing values:", df.isnull().sum().sum())
df = df[df.columns[df.isnull().sum() < 500]]
print("Total number of missing values after column drop:", df.isnull().sum().sum())
newfd = df.copy()
newfd['Refund']  = df['Refund'].fillna(method='ffill').copy()
df = newfd
print("Total number of missing values after Refund clear:", df.isnull().sum().sum())
column = df['Fines'].dropna().copy()
mean = column.mean()
column = df['Fines'].copy()
df['Fines'] = column.fillna(value=mean)
print("Total number of missing values:", df.isnull().sum().sum())

 number of missing values in CarNumber: 0
 number of missing values in Make_n_model: 0
 number of missing values in Refund: 12
 number of missing values in Fines: 60
 number of missing values in History: 660
Total number of missing values: 732
Total number of missing values after column drop: 72
Total number of missing values after Refund clear: 60
Total number of missing values: 0

## split and parse the make and model

In [15]:
#p = lambda x: (lambda x: x[0])(x.split())
columns  = df['Make_n_model'].apply(lambda x: (lambda x: pd.Series([x[0], x[1] if len(x) > 1 else pd.NA], index=['Make', 'Model']))(x.split()))
df['Make'] = columns['Make']
df['Model'] = columns['Model']
df.drop(columns=['Make_n_model'], inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [17]:
df.to_json('./data/auto.json', orient="records")