In [31]:
import pandas as pd
import gc

## read the fines.csv that you saved in the previous exercise

In [32]:
%%time
df = pd.read_csv("../ex04/data/fines.csv")
pd.options.display.float_format = '${:,.2f}'.format
df

CPU times: user 11.1 ms, sys: 0 ns, total: 11.1 ms
Wall time: 7.29 ms

        CarNumber  Refund      Fines    Make  Model  year
0    Y163O8161RUS   $2.00  $3,200.00    Ford  Focus  1989
1     E432XX77RUS   $1.00  $6,500.00  Toyota  Camry  1995
2     7184TT36RUS   $1.00  $2,100.00    Ford  Focus  1984
3    X582HE161RUS   $2.00  $2,000.00    Ford  Focus  2015
4    92918M178RUS   $1.00  $5,700.00    Ford  Focus  2014
..            ...     ...        ...     ...    ...   ...
925  X4128E125RUS   $1.00  $1,100.00    Ford  Focus  2005
926  X4128F125RUS   $2.00 $18,800.00    Ford  Focus  2009
927  X4128G125RUS   $2.00  $8,594.59    Ford  Focus  1996
928  X4128H125RUS   $1.00    $800.00    Ford  Focus  2007
929  X4128I125RUS   $2.00  $8,594.59    Ford  Focus  1991

[930 rows x 6 columns]

## iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

In [33]:
%%time
rez = []
for i in range(0, len(df)):
    rez.append(df.iloc[i][2] / df.iloc[i][1] * df.iloc[i][5])
df['new column'] = rez

CPU times: user 555 ms, sys: 0 ns, total: 555 ms
Wall time: 553 ms

In [34]:
%%time
rez = []
for x in df.iterrows():
    rez.append(x[1][2] /  x[1][1] * x[1][5])
df['new column'] = rez

CPU times: user 116 ms, sys: 174 µs, total: 116 ms
Wall time: 113 ms

In [35]:
%%time
rez = df.apply(lambda x: x[2] /  x[1] * x[5], axis='columns', result_type='expand')
df['new column'] = rez

CPU times: user 15.8 ms, sys: 7.53 ms, total: 23.3 ms
Wall time: 21.6 ms

In [36]:
%%time
df['new column'] =  (df[df.columns[2]].multiply(df[df.columns[5]])).divide(df[df.columns[1]])

CPU times: user 1.15 ms, sys: 143 µs, total: 1.3 ms
Wall time: 1.12 ms

In [37]:
%%time
df['new column'] = df[df.columns[2]].values * df[df.columns[5]].values / df[df.columns[1]]

CPU times: user 1.38 ms, sys: 150 µs, total: 1.53 ms
Wall time: 1.31 ms

## indexing: measure the time using the magic command %%timeit in the cell

In [38]:
%%time
rez = df[df["CarNumber"] == 'O136HO197RUS']

CPU times: user 0 ns, sys: 1.21 ms, total: 1.21 ms
Wall time: 1.09 ms

In [39]:
df.set_index('CarNumber', inplace=True)

In [40]:
%%time
rez = df[df.index == 'O136HO197RUS']

CPU times: user 1.24 ms, sys: 154 µs, total: 1.4 ms
Wall time: 1.35 ms

## downcasting:

In [41]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to X4128I125RUS
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Refund      930 non-null    float64
 1   Fines       930 non-null    float64
 2   Make        930 non-null    object
 3   Model       919 non-null    object
 4   year        930 non-null    int64
 5   new column  930 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 203.7 KB

In [42]:
newone = df.copy()
# newone.astype({"Refund":"Float32", "Fines":pd.Float32})
newone['Refund'] =  pd.to_numeric(df["Refund"], downcast="float")
newone['Fines'] =  pd.to_numeric(df["Fines"], downcast="float")
newone['new column'] =  pd.to_numeric(df["new column"], downcast="float")
newone['year'] =  pd.to_numeric(df["year"], downcast="unsigned")
newone.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to X4128I125RUS
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Refund      930 non-null    float32
 1   Fines       930 non-null    float32
 2   Make        930 non-null    object
 3   Model       919 non-null    object
 4   year        930 non-null    uint16
 5   new column  930 non-null    float32
dtypes: float32(3), object(2), uint16(1)
memory usage: 187.3 KB

## categories

In [43]:
newone['Model'] = newone['Model'].astype('category')
newone['Model'] = newone['Model'].astype('category')
newone.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to X4128I125RUS
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Refund      930 non-null    float32
 1   Fines       930 non-null    float32
 2   Make        930 non-null    object
 3   Model       919 non-null    category
 4   year        930 non-null    uint16
 5   new column  930 non-null    float32
dtypes: category(1), float32(3), object(1), uint16(1)
memory usage: 132.9 KB

## memory clean

In [44]:
%reset_selective -f df
gc.collect()

40

In [45]:
df

NameError: name 'df' is not defined